* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#spinner.hide {
    display: none;
}

#update-icon {
    /* align-self: center; */
    height: 3rem;
    cursor: pointer;
    vertical-align: middle !important;
}

#update-icon::before {
    vertical-align: 0px !important;

}

#update-icon.hide {
    display: none;
}

#update {}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2rem solid #4F4F4F;
    height: 3rem;
    background-color: mintcream;
}

.country img {
    width: 1.6rem;
    height: 1.1rem;
}

.group {
    max-width: 25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.games {
    border-collapse: collapse;
    margin: 0rem 0rem;
    /* margin-bottom: 1rem; */
}

.games td {
    line-height: 0;
    height: 1.3rem;
    font-size: 0.75rem;
    vertical-align: middle;
    border-left: white solid 2px;
    border-right: white solid 2px;
    padding: 0px;
}

.games tr :nth-child(1) {
    text-align: left;
    width: auto;
}

.games tr :nth-child(2) {
    width: 20%;
    /* text-align: center; */
}

.games tr :nth-child(3),
.games tr :nth-child(4) {
    width: 10%;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    /* padding: 0;
    margin: 0; */
}

.games tr :nth-child(5) {
    width: 20%;
    text-align: right;
    border-right: 0.2rem solid transparent;
}

.grres1 :nth-child(3),
.grres1 :nth-child(4) {
    color: red !important;
}

.grres1 {
    background-color: rgb(243, 243, 243);
}

i.flag {
    border: 0rem !important;
    margin-left: 0.2rem !important;
    margin-right: 0.2rem !important;
}

.group-name {
    /* margin-top: 1rem; */
}

table {
    /* max-width: 28rem; */
    /* transition: all ease-out 200ms; */
}

.standings-table th,
.standings-table td {
    padding: 0rem 0.2rem 0rem 0.2rem !important;
}

.group table tr :nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* max-width: 20%; */
    max-width: 6rem;
}

.table {
    margin-bottom: 0.5rem;
}

.standings-table tbody tr:nth-child(1) td,
.standings-table tbody tr:nth-child(2) td {
    background-color: rgb(240, 250, 240);
    font-weight: 500;
}

thead tr :nth-child(1),
tbody tr :nth-child(1) {
    text-align: right;
}

tbody tr :nth-child(3),
tbody tr :nth-child(4),
tbody tr :nth-child(5),
tbody tr :nth-child(6),
tbody tr :nth-child(7),
tbody tr :nth-child(8),
tbody tr :nth-child(9),
tbody tr :nth-child(10),
tbody tr :nth-child(11),
tbody tr :nth-child(12) {
    text-align: right;
    /* padding-right: 0.1rem !important; */
}

.group .hide {
    height: 0% !important;
}

.large {
    height: 100vh;
}